* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    overflow-x: hidden;
    overflow-y: scroll;
} */

/*#region header navigation*/
header.navbar {
    position: fixed;
    width: 100vw;
    background-color: transparent;
}

header.active {
    background-color: #2b2c49;
}

header div.active {
    padding: 20px 0 20px 0;
}

header div.header-content {
    position: relative;
    width: 85vw;
    border-bottom: 1px solid rgba(100, 100, 100, 0.6);
    padding: 40px 0 40px 0;
    margin-left: auto;
    margin-right: auto;
}

.hamburger {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
}

.hamburger::before {
    content: '';
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translate(-12px, -10px);
    background-color: #e84545;
    border-radius: 50%;
}

.hamburger-box {
    width: 20px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;

}

.hamburger-inner::before {
    top: -7px;
}

.hamburger-inner::after {
    top: 7px;
}

/*#endregion*/

/*#region banner */
section.banner {
    min-height: 750px;
    background-image: url(images/banner.jpg);
}

.banner div.welcome {
    width: 85%;
    padding-top: 45%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.banner div.welcome h1 {

    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
}

.banner div.welcome p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

.banner div.welcome button {
    height: 45px;
    width: 180px;
    background-color: #e84545;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

/* #endregion */

/* #region features section */
section.features {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

section.features .feature {
    flex-basis: 80%;
    text-align: center;
    margin-bottom: 50px;
}

section.features .feature i {
    color: #e84545;
    font-size: 3.5rem;
}

section.features .feature h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

section.features .feature p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

/* #endregion */

/* .member span {
    display: inline-block;
    border: 1px solid red;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
}

i {
    font-size: 30px;
    vertical-align: middle;
} */